#1.多条连接共享ssh选项
ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r

#2.长连接(服务器端）
#ControlPersist 8h

#3.连接中转
ForwardAgent yes

#4.省略主机名

#5.主机别名
Host gentoo
HostName 192.168.17.100

#6.通配符分组

#7.省去用户名
User onionisi

#8.在服务器间跳转
#Host db
#HostName db.internal.example.com
#ProxyCommand ssh gateway netcat -q 600 %h %p

#9.突破网络封锁
#只需要编辑你的服务器的/etc/ssh/sshd_config文件：
#Port 443
#然后重启SSH服务器：
#$ sudo reload ssh

#10.穿越Web代理
#Corkscrew
#ProxyCommand corkscrew proxy.example.org 8080 %h %p

#11.远程GUI
ForwardX11 yes

#12.本地操作远程文件
#13.通过Vim访问远程文件
#14.使用本地App连接远程服务器
#15.减少延迟
GSSAPIAuthentication no

#16.加速连接（牺牲数据加密性，外网慎用）
Host gentoo
Cipher arcfour

#17.multi-ssh-key
Host github.com
	IdentityFile ~/.ssh/github
	User git
Host gentoo
	IdentityFile ~/.ssh/office
	User onionisi
