[user]
	name = Chong Yang
	email = iamyangchong@gmail.com
[merge]
	tool = vimdiff
[color]
	ui = true
[core]
	editor = vim
	autocrlf = input
[alias]
	l = log --decorate --graph --pretty=oneline --abbrev-commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	lgm =!UN=$(git config user.name)&& git log --author="\"$UN\"" --pretty=format:'%h %cd %s' --date=short
	co = checkout
	br = branch
	di = diff
	ds = diff --staged
	st = status
	amend = commit --amend -a
