!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    180
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight
!Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcddefault
Xft.autohint:               false

#include ".Xresources.d/rxvt-unicode"
#include ".Xresources.d/theme-sexy"
/* #include ".Xresources.d/theme-solarized" */
